page-home {

    .cnt1{
        height: 200px;
    }
    .cnt2{
        height: 100px;
    }
    .cnt3{
        height: 100px;
    }
    .but1{
        width: 100% !important;
        height: 100% !important;
    }
    .but2{
        width: 100% !important;
        height: 350% !important;
    }
    .but3{
        width: 100% !important;
        height: 350% !important;
    }
    .icons { 
        font-size: 100px;
    }
    
}